.references-items-container{
  margin: 0 auto;
  padding: 35px 0 45px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px 40px;
  width: 984px;
}

.references-block-wrapper{
			background-color: #F2F2F2;
}